@CHARSET "UTF-8";

/*ベース背景*/
.background_follow{
	width:350px;
	height:auto;
	margin-top:20px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 40px;
}

li{
	list-style: none;
}

.small_box_follow{
	width: 300px;
	height: auto;
	background-color: #F2F2F2;
	margin: 0 auto;
	border-radius: 5px;
	padding-bottom: 25px;
	padding-top: 5px;
}

/*H1デザイン*/
.list_name_follow {
	position: relative;
	display: inline-block;
	padding: 0 2.5em;
	text-align: center;
	color: #585858;
	margin-top: 20px;
	font-size: 20px;
	margin-left: 70px;
	margin-bottom: 20px;
}
.list_name_follow:before, .list_name_follow:after {
	content: '';
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 13%;
	height: 2px;
	background-color: #9F81F7;
}
.list_name_follow:before {
	left: 0;
}
.list_name_follow:after {
	right: 0;
}


.list_box_follow{
	width:200px;
	margin:0 auto;
	background-color: #fff;
	padding: 15px;
	margin-top: 20px;
	text-align: center;
}
/*ボタン*/
.unfollow_btn{
	width: 103px;
	height: 23px;
	font-size: 15px;
	background-color: #bca9f5;
	border: none;
	color: #fff;
	cursor: pointer;
	letter-spacing: 0.05em;
	text-align: center;
	border-radius: 20px;
}
.unfollow_btn:hover {
	background: #8258fa;
}
.font{
	font-size: 20px;
}
.follow_count{
	text-align: center;
	font-size: 15px;
}