/*蜈ｨ菴薙�ｮ繧ｵ繧､繧ｺ*/
body{
	background-color: #F2EFFB;
}
/*繝｡繝九Η繝ｼ縺ｮ菴吶ｊ蟷�繝ｩ繧､繝ｳ*/
.menu_line{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: #fff;
	border-bottom: 2px solid #bdbdbd;
	}

/*header閭梧勹*/
.menu_all{
	width: 100%;
	height: 50px;
	background-color: #fff;
}
/*繝｡繝九Η繝ｼ蝗ｺ螳�*/
.menu {
	width: 800px;
	height: 50px;
	margin: 0 auto;
	background-color: #fff;
}

.menu {
	line-height: 50px;
}
/*繝倥ャ繝�繝ｼ蟾ｦ蛛ｴ*/
.left {
	float: left;
	overflow: hidden;
}
/*蟾ｦ繝｡繝九Η繝ｼ繧｢繧､繧ｳ繝ｳ*/
.left a {
	border-bottom: 2px solid #9F81F7;/*荳狗ｷ�*/
	display: block;
	color: #585858;/*譁�蟄�*/
	text-align: center;
	padding: 3px 30px;
	text-decoration: none;
	font-weight: bold;
}
/*繝｡繝九Η繝ｼhover譎�*/
li a:hover:not(.active) {
background-color: #E3CEF6;
}
/*繝ｭ繧ｰ繧｢繧ｦ繝医�懊ち繝ｳ蛛ｴ*/
.signout{
	float: right;
	overflow: hidden;
}
/*繝ｭ繧ｰ繧｢繧ｦ繝井ｸ狗ｷ�*/
.signout a{
border-bottom: 2px solid #9F81F7;
	display: block;
	color: #585858;
	text-align: center;
	padding: 3px 30px;
	text-decoration: none;
	font-weight: bold;
}
/*繝ｭ繧ｰ繧｢繧ｦ繝医ヵ繧ｩ繝舌�ｼ譎�*/
.signout li a:hover:not(.active) {
background-color: #E3CEF6;
}

/*繝倥ャ繝�繝ｼ蜿ｳ蛛ｴ*/
.right {
	float: right;
}
/*繝｡繝九Η繝ｼ縺ｮ荳ｭ*/
.menu li {
	float: left;
	list-style: none;
	margin: 8px;
	line-height: 50px;
}
/*float縺ｮ隗｣髯､*/
.clear {
	clear: both;
}
/*讀懃ｴ｢繝懊ャ繧ｯ繧ｹ*/
.searchstyle {
	width:200px;
	height:30px;
	border: 1px solid #9F81F7;
	border-radius: 20px;
	margin-top: 1px;
	margin-right:-15px;
	font-size: 18px;
	color: #585858;
	text-align: center;
}
/*讀懃ｴ｢繝懊ャ繧ｯ繧ｹ縺ｮ荳ｭ霄ｫ*/
.searchstyle::-webkit-input-placeholder {
    color: #bdbdbd;
    font-size: 18px;
    }
/*讀懃ｴ｢繝懊ち繝ｳ*/
.right .search_btn{
	width: 18px;
	height: 18px;
	margin-top: 7px;
	margin-left: -30px;

}