/*全体のサイズ*/
body{
	background-color: #F2EFFB;
}
/*メニューの余り幅ライン*/
.menu_line{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: #fff;
	border-bottom: 2px solid #bdbdbd;
	}

/*header背景*/
.menu_all{
	width: 100%;
	height: 50px;
	background-color: #fff;
}
/*メニュー固定*/
.menu {
	width: 800px;
	height: 50px;
	margin: 0 auto;
	background-color: #fff;
}
/*ヘッダー左側*/
.left {
	float: left;
	overflow: hidden;
}
/*左メニューアイコン*/
.left a {
	border-bottom: 2px solid #9F81F7;/*下線*/
	display: block;
	color: #585858;/*文字*/
	text-align: center;
	padding: 3px 30px;
	text-decoration: none;
	font-weight: bold;
}
/*メニューhover時*/
li a:hover:not(.active) {
background-color: #E3CEF6;
}
/*ログアウトボタン側*/
.signout{
	float: right;
	overflow: hidden;
}
/*ログアウト下線*/
.signout a{
border-bottom: 2px solid #9F81F7;
	display: block;
	color: #585858;
	text-align: center;
	padding: 3px 30px;
	text-decoration: none;
	font-weight: bold;
}
/*ログアウトフォバー時*/
.signout li a:hover:not(.active) {
background-color: #E3CEF6;
}

/*ヘッダー右側*/
.right {
	float: right;
}
/*後日修正*/
.right ul{
	width: 367px;
}

/*メニューの中*/
.menu li {
	float: left;
	list-style: none;
	margin: 8px;
}
/*floatの解除*/
.clear {
	clear: both;
}
/*検索ボックス*/
.searchstyle {
	width:200px;
	height:30px;
	border: 1px solid #9F81F7;
	border-radius: 20px;
	margin-top: 1px;
	margin-right:-15px;
	font-size: 18px;
	color: #585858;
	text-align: center;
}
/*検索ボックスの中身*/
.searchstyle::-webkit-input-placeholder {
    color: #bdbdbd;
    font-size: 18px;
    }
/*検索ボタン*/
.right .search_btn{
	width: 18px;
	height: 18px;
	margin-top: 7px;
	margin-left: -30px;

}