@CHARSET "UTF-8";

body {
	color: #5e5e5e;
}
/*フォームレイアウト*/
.fieldbox {
	height: auto;
	width: 400px;
	background: #fafafa;
	margin: 0 auto;
	padding-bottom: 30px;
	border-radius: 10px;
	margin-top: 20px;
}

/*文字*/
/*登録完了文字*/
.fieldbox h1 {
	text-align: center;
	font-size: 25px;
	padding: 30px;
}

/*つぶやこう文字*/
p {
	text-align: center;
	margin-top: 10px;
}
