@CHARSET "UTF-8";

/*H1デザイン*/
.content_name {
	position: relative;
	display: inline-block;
	padding: 0 2.5em;
	text-align: center;
	color: #585858;
	margin-top: 20px;
	font-size: 20px;
	margin-left: 130px;
	margin-bottom: 10px;
}
.content_name:before, .content_name:after {
	content: '';
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 13%;
	height: 2px;
	background-color: #9F81F7;
}
.content_name:before {
	left: 0;
}
.content_name:after {
	right: 0;
}

/*contentsベースボックス*/
.content_box{
	background-color: #E6E6E6;
	width: 450px;
	height:820px;
	margin: 0 auto;
	padding-top: 10px;

}
/*ボックス*/
.content_small_box{
	width: 420px;
	margin: 0 auto;
}
/*ツイート一覧*/
.content_field{
	background-color: #fff;
	margin-bottom: 10px;
	border: 1px solid #585858;
	height:120px;
}

/*アカウント名*/
.name_box{
	text-align: center;
	border-bottom: 1px solid #9F81F7;
}
/*ツイート表示欄*/
.content_box{
	width: 300px;
	height: 70px;
	margin: 0 auto;
}
/*いいね画像*/
.like_btn img{
	width:20px;
	height:16px;
	margin-top: 5px;
	margin-left: 10px;
}
/*いいねボックス*/
.like_btn{
	width: 60px;
	height: 25px;
}