@CHARSET "UTF-8";
/*ツイート入力ボックス*/
.tweet_box {
	width: 440px;
	height: 50px;
	border: 1px solid #9F81F7;
	margin-top: 20px;
	margin-left:15px;
	border-radius: 5px;
	font-size: 18px;
	resize: none;
}
/*ツイート入力ボックスの中*/
.tweet_box::-webkit-input-placeholder {
	color: #bdbdbd;
	font-size: 18px;
	line-height: 50px;
}
/*ボタン*/
.tweet_btn {
	width: 45px;
	height: 45px;
	margin-left: 5px;
	margin-top: 5px;

}
/*ボタン背景*/
.tweet_back{
	width: 55px;
	height: 54px;
	background-color: #9F81F7;
	border-radius: 5px;
	margin-top: 10px;
	float: right;
	margin-top: 19px;
	margin-right: 15px;
}

.tweet_back:hover {
	/* background: #8258fa; */
	opacity: 0.5 ;
}

/*floatの解除*/
.clear {
	clear: both;
}